<div class="container">
    <div class="NavBar">
      <h1 class="NavTxt">CRUD</h1>
    </div>
    <div class="row">
      <div class="col-5 bdr">
        <div class="headerTxt"><h2>Details</h2></div>
        <p><input type="text" placeholder="postId" /></p>
        <p><input type="number" placeholder="id" /></p>
        <p><input type="text" placeholder="name" /></p>
        <p><input type="email" placeholder="email" /></p>
        <p><input type="text" placeholder="body"></p>
        <p><button type="email" class="btn-primary">Add</button><button type="button" class="btn-success">Save</button></p>
      </div>
    </div>
  </div>
