<!-- <app-firebase-post></app-firebase-post> -->


<!-- <app-crud></app-crud> -->
<!-- <app-student-list></app-student-list>
<app-student-details></app-student-details> -->
<!-- <app-chatbot></app-chatbot> -->

<nav><a routerLink="/getUsersData" routerLinkActive="active">users data</a>
<a routerLink="/getPosts" routerLinkActive="active">getData</a>
<a routerLink="/Photos" routerLinkActive="active">getPhotos</a></nav>
<router-outlet></router-outlet>
<footer><div class="video">
  <video width="130px" height="130px" id="content-video" class="video-circle" autoplay loop>
    <source src="https://media.istockphoto.com/videos/new-year-night-countdown-from-10-to-0-with-snowflakes-colorful-merry-video-id1288567386" type="video/mp4"  data-toggle="modal" data-target="#exampleModalCenter">
  </video>
</div>
<!-- <div class=video-popup>
  <video src="https://media.istockphoto.com/videos/new-year-night-countdown-from-10-to-0-with-snowflakes-colorful-merry-video-id1288567386" autoplay loop></video>
</div> --></footer>
