    .tbl{
        border: 2px solid rgb(40, 243, 4);
        background-color: rgb(0, 0, 0);
        color:rgb(248, 248, 250);
        font-size: 20px;
    
    }
    #dataWidth{
        width: 5vw;
        border-radius: 10px;
    }
    #dataWidth1{
        width: 30vw;
        border-radius: 10px;
    }
    thead{
        text-align: left;
        border: 4px blue;
        background-color: rgb(225, 11, 245);
        // margin: 50px;
    }
    table{
        
        background-color: rgb(255, 251, 7);
        text-align: center;
        border-radius: 10px;
    }
    td{
        border: 1px solid rgb(240, 4, 24);
        border-radius: 10px;
        background-color: rgb(69, 235, 14);
        // color: rgb(255, 0, 43);
    }
    